<h2>Find an artist</h2>
<div>
    <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">Artist/Band</label>
    </span>
    <button pButton type="button" label="Search" style=""></button>
    </div>
<table>
    <tr>
        <th>Band</th>
        <th>Song</th>
        <th>Tabs</th>
    </tr>
    <tr *ngFor="let result of sortedResults">
        <td>{{ result.artist.name }}</td>
        <td>{{ result.title }}</td>
        <td>{{ result.chordsPresent }}</td>
    </tr>
</table>

<!--<p-dataView [value]="sortedResults">
        <ng-template let-generalArtist pTemplate="listItem">
            <div>
                {{sortedResults.id}}
            </div>
        </ng-template>
    </p-dataView>-->