.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
h3 {
    text-align: center;
}
.search {
    display: grid;
    grid-template-columns: auto auto;
    height: 30px;
    width: 350px;
}
.similar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto;
    grid-gap: 5px;
}
.title {
    grid-column: span 2;
}
h2 {
    text-align: center;
}